

.guitarSVG{
	position: absolute;
	height:50%;
	right:-1%;
	bottom: 1%;
	transform: rotate(10deg);
	
}
.guitarSVG{
	z-index:2;
    overflow:hidden;
}
.guitar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 600px;
	min-width: 240px;
	user-select: none;
}

