

.guitarSVG{
	position: absolute;
	height:60%;
	left:3%;
	bottom: 6%;
	transform: rotate(-20deg);
	
}
.guitarSVG{
	z-index:2;
    overflow:hidden;
}
.guitar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 73.17vh;
	width: 16.667vw;
	user-select: none;
}

