.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  overflow: hidden;
  background: transparent;
}

#bulb {
  position: absolute;
  z-index: 2;
  top: 170px;
  left: 147px;
  cursor: pointer;
}


#glow {
  position: absolute;
  width: 76px;
  height: 76px;
  border-radius: 50px;
  top: 170px;
  left: 147px;
  
}


#base {
  position: absolute;
  top: 269px;
  left: 169px;
  fill: #E5E5E5;
  z-index:2;
}