.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;

  overflow: hidden;
  background: transparent;
}

#bulb {
  position: absolute;
  z-index: 2;
  top: 188px;
  left: 162px;
  fill: #FFF35C;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
#bulb:hover {
  fill: #121212;
}

#glow {
  position: absolute;
  width: 76px;
  height: 76px;
  background: #FFF35C;
  border-radius: 50px;
  box-shadow: 0 0 50px 10px #FFF35C;
  top: 188px;
  left: 162px;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

#bulb:hover ~ #glow {
  opacity: 0;
}

#base {
  position: absolute;
  top: 287px;
  left: 184px;
  fill: #E5E5E5;
  z-index:2;
}