


#preloader__container svg {
  width:10%; 
  position:absolute;
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
}

#preloader__container p{
  position:absolute;
  top:55%;
  left:50%;
  transform: translate(-50%, -50%);
  color:#f1c40f;
  font-family: "Comic Sans MS", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

#progressbar{
  height: 26px;
  position: absolute;
  left: 50%;
  top: 65%;
  width: 200px;
  background: rgba(159, 159, 159, 0.5);
  border-radius: 10px;
  margin: -20px 0 0 -100px;
  padding: 2px;
}
#loadingbar{
  transition: all 500ms ease;
  height: 20px;
  width: calc(100% - 10px);
  border-radius: 8px;
  background: #474747;
  position: absolute;
  margin: 3px;
  display: inline-block;
  animation: load 3s ease infinite;
}
#load{
  font-family: Arial;
  font-weight: bold;
  text-align: center;
  margin-top: -30px;
}

@keyframes load{
  0%{
    width: 2%;
  }
  10%{
    width: 10%;
	
  }
	100%{
		width:90%;
	}
}


.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

#preloader__container {
  width:100%;
  height:100%;
  position: absolute;
  background-color: #292929;
  z-index: 9999;
  transition: opacity 1s, visibility 1s;
  
}

.lst0 {
  fill: #ebd618;
}

.lst1 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.lst2 {
  fill: none;
  opacity: .5;
  stroke: yellow;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#one {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .1s infinite;
  animation: line-glow 1s .1s infinite;
}

#two {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .2s infinite;
  animation: line-glow 1s .2s infinite;
}

#three {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .3s infinite;
  animation: line-glow 1s .3s infinite;
}

#four {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .4s infinite;
  animation: line-glow 1s .4s infinite;
}

#five {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .5s infinite;
  animation: line-glow 1s .5s infinite;
}

#six {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .6s infinite;
  animation: line-glow 1s .6s infinite;
}

#seven {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 1s .7s infinite;
  animation: line-glow 1s .7s infinite;
}

#bulb-body-fill {
  -webkit-animation: bulb-on 1s ease infinite;
  animation: bulb-on 1s ease infinite;
}

@-webkit-keyframes line-glow {
  10% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes line-glow {
  10% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
}

@-webkit-keyframes bulb-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bulb-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body{
  overscroll-behavior: none;
}
/* Main Content CSS */
.main {
    background-color: black;
    width:100vw;
    height:98.5vh;
    z-index: -5;
    overscroll-behavior: none;
    
  }
  
  .main__container {
    
    margin-top: -200px;
    margin-left: -270px;
    padding: 0;
    height: 350px;
    z-index: 2;
    width: 570px;
    overflow:hidden;
    position:fixed;
    top:50%;
    left:50%;
    font-family: 'Helvetica', sans-serif;
  }
  
  .main__content {
    color: #fff;
    background-color:transparent;
    
    
  }
  
  
  .main__content .firstname{
    font-size: 10rem;
    font-weight: bold;
    position:absolute;
    left: 0;
    top: 0;
  }

  .main__content .firstname span{
    font-size: 12rem;
    font-weight: bold;
    
  }
  
  .main__content .lastname{
    font-size: 9rem;
    position:absolute;
    left: 285px;
    top: 190px;
    font-weight: bold;
  }
  
  
 
  @media screen and (max-width: 768px) and (min-width:481px) {
    .main__container {
      transform:scale(.7);
      margin-top: -165px;
      margin-left: -270px;
      padding: 0;
      height: 350px;
      z-index: 2;
      width: 570px;
      overflow:hidden;
      position:fixed;
      top:50%;
      left:50%;
    }
    .darkmode{
      margin-top: 17px;
    }

    .rotating{
      position:absolute;
      top: 15px;
      left: 15px;
      transform:scale(1.42857);
    }
  }


  @media screen and (max-width: 480px) {
    .main__container {
      transform:scale(.5);
      margin-top: -165px;
      margin-left: -270px;
      padding: 0;
      height: 350px;
      z-index: 2;
      width: 570px;
      overflow:hidden;
      position:fixed;
      top:50%;
      left:47%;
  
  }
}

/*

ABOUT

*/


.container{
  color: #ababab;
  background: transparent;
  color: #fff;
  margin: 0;
  padding: 20px 5%;
  font-family: 'Gill Sans', sans-serif;
  box-sizing: border-box;
  z-index: 10;
  position: absolute;
  height: 100vh;

}

#about{
height:100vh;
width:100%;
position:relative;
overflow: hidden;

}




.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 35%;
}

.about-col-1 img{
  width: 100%;
  border-radius: 15px;
  padding: 40px 0px;

}
  
.about-col-2{
  flex-basis: 60%;
}

.sub-title{
  font-size: 75px;
  font-weight: 600;
  color: #fff;
}
  
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
  
.tab-links{
  margin-right: 50px;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after{
  content:'';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after{
width: 50%;
}

.tab-contents ul li{
list-style: none;
margin: 10px 0;
}

.tab-contents ul li span{
color: #b54769;
font-size: 14px;
}

.tab-contents{
display: none;
}

.tab-contents.active-tab{
display: block;
}

@media only screen and (max-width:600px){
  .sub-title{
      font-size: 40px;
  }
      
  .about-col-1, .about-col-2{
      flex-basis: 100%;
  }
      
  .about-col-1{
      margin-bottom: 30px;
  }

  .about-col-2{
      font-size: 14px;
  } I
      
  .tab-links{
      font-size: 16px;
      margin-right: 20px;
  }

  .about-col-1 img{
      padding: 0;
  
  }
}



.main__img--container {
  text-align: center;
}

.mypicture--card {
  margin: 10px;
  height: 450px;
  width: 450px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

.fa-layer-group,
.fa-users {
  font-size: 14rem;
}

#card-2 {
  background: #ff512f;
  background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
  background: linear-gradient(to right, #dd2476, #ff512f);
}

/* Mobile Responsive */
@media screen and (max-width: 1100px) {
  .about__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .mypicture--card {
    height: 400px;
    width: 400px;
  }

  .about__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .about__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .about__content h2 {
    font-size: 3rem;
  }

  .about__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .mypicture--card {
    width: 250px;
    height: 250px;
  }

  .fa-users,
  .fa-layer-group {
    font-size: 4rem;
  }

  .about__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .about__content h2 {
    font-size: 2rem;
  }

  .about__content p {
    margin-top: 2rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}





/* 

PROJECTS 

*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 

.ground{
  position:absolute;
  top:0;
  right:0;
  background: none !important;
  width: 70% !important;
  height:50% !important;
  z-index: 3;
}
.border{
  position:absolute;
  top:0;
  right:0;
  background: none !important;
  z-index: 1;
  width: 100%;
  height:100% !important;
}
.border2{
  position:absolute;
  top:0;
  right:0;
  background: none !important;
  z-index: 1;
  width: 100%;
  height:100% !important;
}

.projects{
  width:100%;
  height: 100vh;
  position :relative;
  background-color: #ad8766;
  z-index: 5;
 
  
}

.projects > h1{
  position: absolute;
  z-index: 10;
  font-size: 5.555vw;
  font-weight: bold;
  left:36%;
  top: 5%;
  color: rgb(42, 40, 40);
}

.precontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9b7653;
  position:absolute;
  bottom:0;

}



.project__container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  position: absolute;
  flex-wrap: wrap;
  gap: 5.556vw;
  z-index: 5;
}

.card{
  position: relative;
  width: 24.31vw;
  height: 21.95vh;
  background:  #000;
  transition: 0.5s;
  transform: translateY(-10%);
  opacity:75%;
}

.card:hover{
  height: 54.878vh;
  opacity:90%;
}

.card .lines{
  position: absolute;
  inset: 0;
  background-color: #000;
  overflow: hidden;
}

.card .lines::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 41.67vw;
  height: 14.634vh;
  background: linear-gradient(transparent, #f1c40f, #f1c40f, #f1c40f, transparent);
  animation: animate 4s linear infinite;
  filter: brightness(1.3);
}

.card:hover .lines::before {
  animation-play-state: running;
}

@keyframes animate 
{
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}

.card .lines::after {
  content: '';
  position: absolute;
  inset:0.2083vw;
  background: #292929;
}

.card .imgBx{
  position: absolute;
  top: -60px;
  left: 50%;
  width: 10.4167vw;
  height: 18.293vh;
  transform: translateX(-50%);
  background: #000;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .imgBx{
top: 3.0487vh;
width: 15.625vw;
height: 27.439vh;
}

.card .imgBx::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 34.72vw;
  height: 18.293vh;
  background: linear-gradient(transparent, #f1c40f, #f1c40f, #f1c40f, transparent);
  transform: translate(-50%, -50%);
  animation: animate2 6s linear infinite;
  filter: brightness(1.5);
}

.card:hover .imgBx::before {
  animation-play-state: running;
}

@keyframes animate2 {
  0% {
      transform: translate( -50%, -50%) rotate(360deg);
  }

  100% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
}

.card .imgBx::after {
  content: '';
  position: absolute;
  inset: 0.2083vw;
  background: #292929;

}


.card .imgBx img{
  width: 8.333vw;
  position: absolute;
  z-index: 1;

  opacity: 0.5;
  transition: 0.5s;
}

.card:hover .imgBx img{
  width: 13.889vw;
  opacity: 1;
}

.card .content{
position: absolute;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: flex-end;
overflow: hidden;
}

.card .content .details{

  padding: 3.6585vh 2.0833vw;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(17.683vh);
}

.card:hover .content .details{
transform: translateY(0px) ;
}

.card .content .details h2{
font-size: 1.6667vw;
font-weight: 700;
color: rgb(74, 34, 34);
line-height: 1.2em;
filter:brightness(1.75)
}

.card .content .details p{
color: #fff;
opacity: 0;
transition: 0.5s;
font-size: 1.111vw;
}

.card .content .details a{
  display: inline-block;
  padding: 0.976vh 1.042vw;
  background: #45f3ff;
  color: #292929;
  margin-top: 1.22vh;
  font-weight: 500;
  text-decoration: none;
  opacity: 0;
  transition: 0.5s;
}

.card:hover .content .details p,
.card:hover .content .details a{
  opacity: 1;
  }




 /* Contact section */



/* Footer */