/* Main Content CSS */
.main {
    background-color: #141414;
  }
  
  .main__container {
    
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    background-color: #131313;
    z-index: 1;
    width: 100%;
    overflow:hidden;
    position:absolute;
    top:0%;
    left:0%;
    right:0%;

  }
  
  .main__content {
    color: #fff;

  }
  
  
  .main__content .first{
    font-size: 10rem;
    font-weight: 900;
    position:absolute;
    left: 31.25%;
    top: 250px;
  }

  .main__content .first span{
    font-size: 12rem;
    font-weight: 900;
    
  }
  
  .main__content .last{
    font-size: 9rem;
    position:absolute;
    left: 735px;
    top: 440px;
    font-weight: 900;
  }
  
  .main__content .subtitle{
    position:absolute;
    left: 500px;
    top: 550px;
  }


  

  @media screen and (max-width: 768px) {
    .main__container {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 100%;
      margin: 0 auto;
      height: 90vh;
    }
  
    .main__content {
      text-align: center;
      margin-bottom: 4rem;
    }
  
    .main__content h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
    }
  
    .main__content p {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
 /*Mobile Responsive
  @media screen and (max-width: 768px) {
    .main__container {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      width: 100%;
      margin: 0 auto;
      height: 90vh;
    }
  
    .main__content {
      text-align: center;
      margin-bottom: 4rem;
    }
  
    .main__content h1 {
      font-size: 2.5rem;
      margin-top: 2rem;
    }
  
    .main__content p {
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }
  

  @media screen and (max-width: 480px) {
    .main__content h1 {
      font-size: 2rem;
      margin-top: 3rem;
    }
  
    .main__content h2 {
      font-size: 2rem;
    }
  
    .main__content p {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
  
  }
  */