#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: visible;
  background: #301d1d;
  z-index: 99999;
}

#loader > img{
  position: fixed;
  top:50%;
  left:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body{
  overscroll-behavior: none;
}
/* Main Content CSS */
.main {
    background-color: black;
    width:100vw;
    height:100vh;
    z-index: 0;
    overscroll-behavior: none;
  }
  
  .main__container {
    
    margin-top: -165px;
    margin-left: -270px;
    padding: 0;
    height: 350px;
    z-index: 2;
    width: 570px;
    overflow:hidden;
    position:fixed;
    top:50%;
    left:50%;
    font-family: 'Helvetica', sans-serif;
  }
  
  .main__content {
    color: #fff;
    background-color:transparent;
    
    
  }
  
  
  .main__content .first{
    font-size: 10rem;
    font-weight: bold;
    position:absolute;
    left: 0;
    top: 0;
  }

  .main__content .first span{
    font-size: 12rem;
    font-weight: bold;
    
  }
  
  .main__content .last{
    font-size: 9rem;
    position:absolute;
    left: 285px;
    top: 190px;
    font-weight: bold;
  }
  
  
 
  @media screen and (max-width: 768px) and (min-width:481px) {
    .main__container {
      transform:scale(.7);
      margin-top: -165px;
      margin-left: -270px;
      padding: 0;
      height: 350px;
      z-index: 2;
      width: 570px;
      overflow:hidden;
      position:fixed;
      top:50%;
      left:50%;
    }
    .darkmode{
      margin-top: 17px;
    }

    .rotating{
      position:absolute;
      top: 15px;
      left: 15px;
      transform:scale(1.42857);
    }
  }


  @media screen and (max-width: 480px) {
    .main__container {
      transform:scale(.5);
      margin-top: -165px;
      margin-left: -270px;
      padding: 0;
      height: 350px;
      z-index: 2;
      width: 570px;
      overflow:hidden;
      position:fixed;
      top:50%;
      left:47%;
  
  }
}

/*

ABOUT

*/


.container{
  padding: 20px 5%;
}

#about{
  padding:80px 0;
  color: #ababab;
  background: #080808;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  position: relative;
  z-index: 3;

}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 35%;
}

.about-col-1 img{
  width: 100%;
  border-radius: 15px;
  padding: 40px 0;

}
  
.about-col-2{
  flex-basis: 60%;
}

.sub-title{
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
  
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
  
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after{
  content:'';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after{
width: 50%;
}

.tab-contents ul li{
list-style: none;
margin: 10px 0;
}

.tab-contents ul li span{
color: #b54769;
font-size: 14px;
}

.tab-contents{
display: none;
}

.tab-contents.active-tab{
display: block;
}

@media only screen and (max-width:600px){
  .sub-title{
      font-size: 40px;
  }
      
  .about-col-1, .about-col-2{
      flex-basis: 100%;
  }
      
  .about-col-1{
      margin-bottom: 30px;
  }

  .about-col-2{
      font-size: 14px;
  } I
      
  .tab-links{
      font-size: 16px;
      margin-right: 20px;
  }

  .about-col-1 img{
      padding: 0;
  
  }
}



.main__img--container {
  text-align: center;
}

.mypicture--card {
  margin: 10px;
  height: 450px;
  width: 450px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

.fa-layer-group,
.fa-users {
  font-size: 14rem;
}

#card-2 {
  background: #ff512f;
  background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
  background: linear-gradient(to right, #dd2476, #ff512f);
}

/* Mobile Responsive */
@media screen and (max-width: 1100px) {
  .about__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .mypicture--card {
    height: 400px;
    width: 400px;
  }

  .about__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .about__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .about__content h2 {
    font-size: 3rem;
  }

  .about__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .mypicture--card {
    width: 250px;
    height: 250px;
  }

  .fa-users,
  .fa-layer-group {
    font-size: 4rem;
  }

  .about__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .about__content h2 {
    font-size: 2rem;
  }

  .about__content p {
    margin-top: 2rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}





/* 

PROJECTS 

*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 
.projects{
  position: relative;
  z-index: 5;
  background-color: #eedfcc;
  min-height:100vh;
}

.projects > h1{
  font-family: "Comic Sans MS", sans-serif;
  font-size: 75px;
  text-align: center;
}

.project__container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: transparent;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  position: relative;
  padding: 80px 40px;
  flex-wrap: wrap;
  gap: 80px;
  z-index: 5;
}

.card{
position: relative;
width: 350px;
height: 180px;
background: #eedfcc;
transition: 0.5s;
}

.card:hover{
height: 450px;
}

.card .lines{
position: absolute;
inset: 0;
background:#f2e7d7;
overflow:hidden;
border-radius: 15px;
}


.card .imgBx{
position: absolute;
top:-60px;
left: 50%;
width: 150px;
height: 150px;
transform: translateX(-50%);
background:white;
transition: 0.5s;
z-index: 10;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
border-radius: 15px;
}

.card:hover .imgBx{
top: 25px;
width: 250px;
height: 250px;
}

.card .imgBx img{
position: absolute;
width: 125px;
z-index: 1;
filter: invert(1);
opacity: 0.5s;
transition: 0.5s;
}

.card:hover .imgBx img{
opacity: 1;
width: 200px;
height: 200px;
}

.card .content{
position: absolute;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: flex-end;
overflow: hidden;
}

.card .content .details{

padding: 30px 20px;
text-align: center;
width: 100%;
transition: 0.5s;
transform: translateY(145px) ;
}

.card:hover .content .details{
transform: translateY(0px) ;
}

.card .content .details h2{
font-size: 1.5em;
font-weight: 500;
color: #45f3ff;
line-height: 1.2em;
}

.card .content .details p{
color: #fff;
opacity: 0;
transition: 0.5s;
}

.card .content .details a{
  display: inline-block;
  padding: 8px 15px;
  background: #45f3ff;
  color: #292929;
  margin-top: 10px;
  font-weight: 500;
  text-decoration: none;
  opacity: 0;
  transition: 0.5s;
}

.card:hover .content .details p,
.card:hover .content .details a{
  opacity: 1;
  }




 /* Contact section */



/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
}

footer > p {
  margin: 2rem;

}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
