
.precontainer{
  overflow: hidden;
}

  .scenewrap{
    position:relative;
    width:100vw;
    height:100vh;
    overflow:hidden;
  }
  
  .scene{
    display:block;
    position:absolute;
    width:100%;
    height:75.61%;
    left:0px;
    bottom:0px;
    background-image:url('https://puu.sh/qnenY/1644135b9c.svg');
    background-size:cover;
    background-repeat:no-repeat;
  }
  
 
  #bigcrane{
    width:34.72%;
    position:absolute;
    left:10px;
    top:-23%;
  }
  
  #greentruck{
    width:20.83%;
    margin-top: 18.05%;
  }
  
  #Mixer{
    width:11.11%;
    position:absolute;
    left:40.97%;
    top:38.66vh;
    transform: scaleX(-1);
  }