@import 
url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,400);

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

.endpage{
    background-color:rgb(223,189,150);
    width: 100%;
    height: 85vh;
    position: relative;
    z-index: 5;
    overflow: hidden;
    text-align: center;
}

.endpage h1{
  font-family: "Josefin Sans", sans-serif;
  text-align:center;
  font-weight: bold;
  font-size: 5.5555vw;
  color:#26180f
}

.thecoffee{
  transform: scale(1.3);
}
.cup {
  width:5.277vw;
  height:9.27vh;
  background:#dedede;
  border-radius:50%;
  position:absolute;
  left:50%;
  margin-left:-2.638vw;
  top:-3.658;
  box-shadow:-4px -1px 0 rgba(0, 0, 0, 0.2);
}

.cup:after{
  content:"";
  width:4.583vw;
  height:8.0487vh;
  position:absolute;
  border-radius:50%;
  background:linear-gradient(-45deg, #cbcbcb, #f2f2f2 );
  left:50%;
  margin-left:-2.291vw;
  top:0.61vh;
}

.coffee{
  width:3.263vw;
  height:5.73vh;
  background:#613317;
  /*background-image: linear-gradient(15deg, transparent 0px, transparent 29px, rgba(255,255,255,0.05) 29px, rgba(255,255,255,0.05) 47px);*/
  border-radius:50%;
  position:absolute;
  left:50%;
  margin-left:-1.736vw;
  z-index:1;
  top:50%;
  margin-top:-3.17vh;
  border:0.27778vw solid #e9e9e9;
  box-shadow:-0.208vw 0.2439vh 0 rgba(0,0,0,0.1);
  transform:rotate(30deg);
  transition:transform 0.3s;
}

.coffee:after{ /*assa*/
 content:"";
  width:1.041vw;
  height:0.975vh;
  position:absolute;
  left:-1.319vw;
  top:2.195vh;
  background:linear-gradient(90deg, #d6d6d6, #aeaeae);
  box-shadow:0px 2px 0 rgba(0,0,0,0.2);
}

.coffee:before {
  content:"";
  width:3.26vw;
  height:5.73vh;
  background-image: radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 95%), radial-gradient(5% 9%, ellipse, rgba(255,255,255,0.1), transparent 5%), radial-gradient(0% 0%, ellipse, rgba(255,255,255,0.3), transparent 55%);
  background-image: -webkit-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 95%), -webkit-radial-gradient(5% 9%, ellipse, rgba(255,255,255,0.1), transparent 5%), -webkit-radial-gradient(0% 0%, ellipse, rgba(255,255,255,0.3), transparent 55%);
  background-image: -moz-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 95%), -moz-radial-gradient(5% 9%, ellipse, rgba(255,255,255,0.1), transparent 5%), -moz-radial-gradient(0% 0%, ellipse, rgba(255,255,255,0.3), transparent 55%);
  position:absolute;
  left:0;
  border-radius:50%;
}
.cup:hover .coffee {
  transform:rotate(15deg);
}

.smoke {
  width:70px;
  height:100px; 
  background:;
  position:absolute;
  left:50%;
  margin-left:-40px;
  top:-100px;
  background-image: -webkit-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), -webkit-radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), -webkit-radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%), -webkit-radial-gradient(55% 35%, ellipse, rgba(255,255,255,0.2), transparent 15%);
  background-image: -moz-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), -moz-radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), -moz-radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%), -moz-radial-gradient(55% 35%, ellipse, rgba(255,255,255,0.2), transparent 15%);
  background-image: radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%), radial-gradient(55% 35%, ellipse, rgba(255,255,255,0.2), transparent 15%);
  animation:bk 11s infinite ;
}

.smoke:after {
  content:"";
  width:100px;
  height:100px; 
  background:;
  position:absolute;
  background-image: -webkit-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), -webkit-radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), -webkit-radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%);
  background-image: -moz-radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), -moz-radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), -moz-radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%);
  background-image: radial-gradient(75% 59%, ellipse, rgba(255,255,255,0.2), transparent 25%), radial-gradient(25% 70%, ellipse, rgba(255,255,255,0.2), transparent 15%), radial-gradient(35% 61%, ellipse, rgba(255,255,255,0.2), transparent 10%);
  animation:bk 2s 1s infinite;
}


@keyframes bk {
  0%{ background-position:0 0; opacity:0; }
  15%, 85% { opacity:1;}
  100%{ background-position:-20px -25px, -5px -25px, 0px -25px, 0px -25px; opacity:0;}
}


.contact-links {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 17.6829vh;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.6667vw;
  padding: 1.219vh;
  transition: transform 0.3s ease-out;
  text-decoration: none;
  color:#613317;
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
}

.contact-details:hover {
  transform: translateY(-5px);
}

.bread {
  background: #BBA;
  transform: scale(.6);
  position: absolute;
  bottom:25%;
  left:63%;
  z-index: -1;

}
.bread :before, .bread :after {
  content: '';
  display: block;
}

.dish {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20.833vw;
  height: 36.585vh;
  background: #EFEFEF;
  border-radius: 50%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.dish:before {
  border-radius: 50%;
  box-shadow: inset 0 5px 3px rgba(0, 0, 0, 0.1), inset 0 -2px 1px rgba(255, 255, 255, 0.6);
  position: relative;
  margin: 15% auto;
  width: 70%;
  height: 70%;
  background: #EEE;
}

#toast {
  background: wheat;
  position: relative;
  margin: 0 auto;
  width: 30vw;
  height: 27vw;
  border-radius: 10%;
  box-shadow: inset 0 -0.4vw 0 0.5vw burlywood, 2vw 2vw 59px -24px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border: solid .2vw peru;
  z-index: 1;
  position: absolute;
    top: -30px;
    left: -70px;
  transform: scale(0.4) rotate(15deg);
}

#toast:before {
  background: wheat;
  box-shadow: inset 0 0.55vw 0 0.4vw burlywood, inset 0 0.7vw 0.1vh 0.5vw peru;
  top: -22%;
  left: -5%;
  width: 110%;
  height: 11vw;
  border-radius: 5vw;
  z-index: 3;
  box-sizing: border-box;
  content: '';
  position: absolute;
}

/* butter and crumbs! */
#toast:after {
  background: lemonchiffon;
  content: '';
  position: absolute;
  transform: rotate(-25deg);
  z-index: 9999;
  border-radius: .4vw;
  top: 30%;
  left: 37%;
  width: 7vw;
  height: 7vw;
  border-radius: 1vw;
  box-shadow: 0.2vw -0.4vw 0 0.1vw lightyellow, -0.2vw 0.6vw 2vw 0.5vw rgba(255, 215, 0, 0.6), 0 -1.5vw 6vw 7vw rgba(210, 105, 30, 0.3), 0 -1.5vw 6vw 2vw rgba(210, 105, 30, 0.2), 6vw 6vw 1px -3.3vw burlywood, -3vw -6vw 1px -3.3vw burlywood, -6vw 5vw 1px -3.3vw burlywood, -6vw 0 1px -3.3vw burlywood, 5vw -6vw 1px -3.3vw burlywood, -2vw -7vw 1px -3.3vw white, 2vw 6vw 1px -3.3vw white, 6vw -2vw 1px -3.3vw white;
}

.milk{
  position: absolute;
  bottom:-15%;
  left:42%;
  transform: scale(1.25);
}

.mshad1{
  background-color: rgba(0, 61, 77,0.2);
  height:5.244vh;
  width: 2.986vw;
  border-radius: 50%;
  position: relative;
  left:17.014vw;
  bottom:15.854vh;
  transform: scale(1.2) rotate(-30deg);

}
.mshad2{
  background-color:rgba(0, 61, 77,0.2);
  height:25px;
  width: 25px;
  transform: rotate(38deg);
  position: relative;
  border-radius: 5px;
  top:10px;
  right: 3px;
}
.mshad3{
  background-color: rgba(0, 61, 77,0.2);
  width:21px;
  height:14px;
  position: relative;
  border-bottom-right-radius:21px;
  border-top-right-radius: 21px;
  left:40px;
  bottom:9px;

}
.mcup1{
  background-color: white;
  height:5.244vh;
  width: 2.986vw;
  border-radius: 50%;
  position: relative;
  bottom:5.244vh;
  right:0.208vw;
}
.mcup2{
  background-color:white;
  height:3.04vh;
  width: 1.76vw;
  transform: rotate(38deg);
  position: relative;
  border-radius: 5px;
  top:1.22vh;
  right: 0.2778vw;
}
.mcup3{
  background-color: white;
  width:1.458vw;
  height:1.707vh;
  position: relative;
  border-bottom-right-radius:21px;
  border-top-right-radius: 21px;
  left:2.778vw;
  bottom:1.0975vh;
}
.minn1{
  background-color: #e5dacd;
  height:4.634vh;
  width: 2.638vw;
  border-radius: 50%;
  position: relative;
  bottom: 4.39vh;
  left:0.104vw;    
}
.minn2{
  background-color: #e5dacd;
  height:2.439vh;
  width: 1.388vw;
  transform: rotate(38deg);
  position: relative;
  border-radius: 5px;
  top: 1.219vh;
  right: 0.2778vw;
}
.milk1{
  background-color: white;
  height:3.66vh;
  width: 2.083vw;
  border-radius: 50%;
  position: relative;
  bottom: 1.95vh;
  left:.2778vw;
}
.milk2{
  background-color: white;
  height:1.4634vh;
  width: 0.8333vw;
  transform: rotate(38deg);
  position: relative;
  border-radius: 3px;
  top:1.22vh;
  right: .2778vw;
}

.code {
  width: 100%;
  background: transparent;
  overflow: hidden;
  position: absolute;
  height: 42.68vh;
  bottom:0;
}
.svg {
  position: absolute;
  bottom: -1.22vh;
  width: 48.6vw;
  left: 0;
  right: 0;
  margin: auto;
}
#macbook {
  animation: macbook 0.7s linear;
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#coder {
  animation: coder 0.8s linear;
  transform-origin: center center;
}
@keyframes macbook {
  0% {
    transform: translateY(300px);
 }
  50% {
    transform: translateY(10px);
 }
  100% {
    transform: translateY(0px);
 }
}
@keyframes coder {
  0% {
    transform: scale(0);
    opacity: 0;
 }
  50% {
    transform: scale(1.5);
    opacity: 1;
 }
  100% {
    transform: scale(1);
    opacity: 1;
 }
}
