@keyframes flashy{
	0% { background-color: black; }
	55% { background-color: white; }
	65% { background-color: white; }
    100% { background-color: transparent; }
}

#clickme{
	width:10%;
	position: fixed;
	top: 50%;
	left: 30%;
	opacity: 60%;
}

#navbar{
	filter: brightness(0%);
	transition-duration: 2.4s;
	transition-delay: 0.3s;
	transition-timing-function: linear;
}

#navbar.light {
	filter: brightness(100%);
}

#social-icons{
	filter: brightness(0%);
	transition-duration: 2.4s;
	transition-delay: 0.3s;
	transition-timing-function: linear;
}

#social-icons.light {
	filter: brightness(100%);
}


#notmain{
	background-color: black;
	height:600vh;
	width: 100%;
	position: absolute;
	overflow: hidden;
	z-index: 500;
	transition: z-index 2s linear 1.5s, background-color 2.4s linear 0.3s, height 3s;
}

#notmain.light{
	z-index: -200;
	background-color: white;
	height:200vh
}


#main__content {
	filter: brightness(8%);
	width:100%;
	height: 100%;
	transition-duration: 1.5s;
	transition-delay: 0.2s;
}

#main__content.light {
	filter: brightness(100%);
}

@keyframes flash{
	0% { opacity: 0%; }
	55% { opacity: 100%; }
	65% { opacity: 100%; }
    100% { opacity: 0; }
}

#flash{
	position: absolute;
    background-color: white;
    width:100vw;
    height:100vh;
	z-index: 0;
	opacity: 0;
	overflow: hidden;
	
}

#flash.light {
	z-index: 30;
	animation: flash 4s ease-in;
	animation-delay: 1;
    animation-fill-mode: forwards;
  }

.hero-wrapper{
	opacity:0%;
	transition-duration: 0.5s;
	transition-delay: 2s;
}
.hero-wrapper.light{
	opacity: 100%;
}



#base{
	filter: brightness(30%);
	transition-delay: 1s;
	transition-duration: 0.5s;
}

#base.light {
	opacity: 0;
}

#darkmode{
	filter: brightness(70%);
	transition-delay: 2s;
	transition-duration: 1s;
}

#darkmode.light {
	opacity: 0;
}

@keyframes bulb {
	0% { fill: rgba(255, 255, 255, 0.45) }
	25% { fill: #FFF35C;}
	95% { fill: #FFF35C; }
    100% { fill: #FFF35C; }
}
#bulb{
	fill:rgba(255, 255, 255, 0.45);
	transition-duration: 6s;
	transition-delay: 0.5;
}

#bulb.light{
	animation: bulb 2s;;
	fill: #FFF35C;
	opacity: 0;
}

@keyframes glow {
	0% { opacity: 0%; }
	25% { opacity: 100%; }
	95% { opacity: 100%; }
    100% { opacity: 0; }
	
}

#glow{
	background:#FFF35C;
	box-shadow: 0 0 100px 20px #FFF35C;
	opacity: 0;
	transition-delay: 0.5;
	transition-duration: 0.5s;
}

#glow.light{
	animation: glow 2s;
}

