.rotating-text {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: white;
  transform: translateX(-80px);
  position:absolute;
  left: 95px;
  top: 287px;
}
.rotating-text p {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}
.rotating-text p .word {
  position: absolute;
  display: flex;
  opacity: 0;
}

.rotating-text p .word .letter {
  transform-origin: center center 25px;
}
.rotating-text p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.rotating-text p .word .letter.in {
  transition: 0.50s ease;
}
.rotating-text p .word .letter.behind {
  transform: rotateX(-90deg);
}

.alizarin {
  color: rgb(123, 53, 123);
}

.wisteria {
  color: rgb(215, 90, 117);
}

.peter-river {
  color: rgb(182, 123, 182);
}

.emerald {
  color: rgb(136, 42, 64);
}

.sun-flower {
  color: rgb(55, 13, 55);
}