

/*border-box stuff*/

*, *:before, *:after {
    box-sizing: inherit;
  }
  
  .train__container {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #595055;
    overflow: hidden;
    z-index: 0;
  
  }
  
  .train__container > p{
    text-align: center;
    padding: 6.1% 3.47%;
    font-size: 2.78vw;
    color:rgb(176, 169, 169);
    font-weight: bold;

  }

  .moon {
    width: 100px;
    height: 100px;
    margin: 50px 0 80px 80px;
    border-radius: 50%;
    background: #fff8d7;
    box-shadow: 0 0 40px 40px rgba(255,248,216, 0.2);
  }
  
  .cloud-container {
    opacity: 0.6    
  }
  
  .cloud,
  .cloud:before,
  .cloud:after {  
    border-radius: 35px;
    background: rgb(145,133,132);
  }
  
  .cloud {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 30px;
    border-radius: 50px 35px 35px 15px;
    position: relative;
  }
  
  .cloud:before,
  .cloud:after {
    content:'';
    display: block;
    position: absolute;
  }
  
  .cloud:before {  
    width: 40px;
    height: 45px;
    left: 12px;
    bottom: 0;
  }
  
  .cloud:after {
    width: 40px;
    height: 50px;
    right: 16px;
    bottom: 0;
  }
  
  .cloud:nth-child(1){
    position: absolute;
    top: 180px;
    left: -450px;
  }
  
  .cloud:nth-child(2){
    position: absolute;
    top: 80px;
    left: -230px;
  }
  
  .cloud:nth-child(4){
    position: absolute;
    top: 50px;
    left: 230px;
  }
  
  .cloud:nth-child(5) {
    position: absolute;
    top: 140px;
    right: 100px;
  }
  
  .cloud {
      animation: cloudmove 50s linear infinite backwards;
  }
  
  @keyframes cloudmove {
    0% { transform: translateX(-450px); }
    100% { transform: translateX(1090px); }
  }
  
  .stars {
    width: 100%;
  }
  
  .star {
    display: inline-block;
    position: relative;  
    animation: twinkle 7s -1s infinite;
  }
  
  .star:nth-child(even){
    animation: twinkle 7s 2s infinite;
  }
  
  @keyframes twinkle {
    0% { opacity: 1; }
    60% { opacity: 0.2; }
  }
  
  .star:before,
  .star:after{
    content: '';
    display: block;
    width: 3px;
    height: 10px;
    background: #b0a69b;
    border-radius: 45%;  
  }
  
  .star:before {  
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
  }
  
  .star:after {  
    transform: rotate(45deg);
  }
  
  .star:nth-child(1){
    transform: translate(60px, -210px);
  }
  
  .star:nth-child(2){
    transform: translate(180px,-110px);
  }
  
  .star:nth-child(3){
    transform: translate(210px,-215px);
  }
  
  .star:nth-child(4){
    transform: translate(370px,-15px);
  }
  
  .star:nth-child(5){
    transform: translate(440px,50px);
  }
  
  .star:nth-child(6){
    transform: translate(440px,-190px);
  }
  
  .star:nth-child(7){
    transform: translate(-5px,20px);
  }
  
  
  .mountain {
    width: 490px;
    height: 490px;
    margin: 10px auto 0;
    background: linear-gradient(-225deg, #796f74, #534a4f 50%, #4a4246 50%);
    border-radius: 60px;
    transform: rotate(-45deg);
    position: relative;
    z-index: 0;
  }
  
  .train-container {  
    position: absolute;
    bottom: -4.878%;
    z-index: 6;
    background-size:cover;
  }
  
  .train {
    width: 100.7vw;  
    animation: move 13s -1.5s linear infinite forwards;
  }
  
  @keyframes move {
    0% {transform: translateX(104.17%);}
    100% { transform: translateX(-100.7%); }
  }
  
  .train-car {
    display: inline-block;
    vertical-align: top;
    height: 8.54vh;
    width: 16.67%;
    border: 1px solid #71656a;
    border-top: 2px solid #978a8e;    
    background: #50464b;
    border-radius: 11px;
    padding-top: 2.19vh; 
    padding-left: 2.19%;
  }
  
  .head-car,
  .end-car{
    width: 210px;
    border-left: 2px solid #978a8e;
    border-top-left-radius: 200px;
    padding-left: 25px;
  }
  
  .end-car {
    border-top-left-radius: 11px;
    border-top-right-radius: 200px;
    padding-left: 10px;
    padding-right: 25px;
  }
  
  .windows, 
  .door {
    display: inline-block;
  }
  
  .windows {
    width: 80px;
    height: 50px;
  }
  
  .head-car .windows,
  .end-car .windows{
    width: 130px;
  }
  
  .w-left,
  .w-right,
  .head-car-window,
  .end-car-window{
    display: inline-block;
    width: 37px;
    height: 26px;
    border-radius: 2px;
    background: #ffc72f;  
    color: black;
    font-weight:bold;
    font-size:17px;
  /*   vertical-align: top; */
  }

  .end-car .windows{
    opacity: 0;
  }
  
  .head-car-window,
  .end-car-window{
    width: 25px; 
    border-top-left-radius: 25px;
    margin-right: 15px;
    position: relative;
  }
  
  .end-car-window {
    border-top-left-radius: inherit;
    border-top-right-radius: 25px;  
    margin-left: 15px;
    margin-right: 0;
  }
  
  .head-car-window:after,
  .end-car-window:after{
    content: '';
    display: block;
    width: 5px;
    height: 26px;
    background: #554b50;
    
    position: absolute;
    right: -12px;
  }
  
  .end-car-window:after {
    left: -12px;
  }
  
  .door {
    background: #675e62;
    width: 25px;
    height: 50px;
    padding: 4px 5px 0;
    vertical-align: top;
    margin: 0 5px;
  }
  
  .end-car .door {
    margin: 0 6px;
  }
  
  .door:before{
    content: '';
    display: block;
    width: 15px;
    height: 20px;
    background: #53494f;
    
  }
  
  .train-track {
    position: relative;
    background: #43383e;
    width: 100%;
    height: 54.88vh;
  }
  
  .ledge {
    height: 20px;
    width: 100%;
  /*   background: white; */
    border-bottom: 3px solid #392e34;
    margin-bottom: 40px;
  }
  
  .pillar {
    overflow-x: hidden;  
  }
  
  .pillar > div{
    background: #534a4f;
    height: 47.07vh;
    border-radius: 24.39vh 13.88vw 0 0; 
    display: inline-block;
    background-image: linear-gradient(180deg, #534a4f 78%,rgb(54, 22, 22),rgb(54, 22, 22), rgb(54, 22, 22),rgb(54, 22, 22));
  }
  
  .pillar-left {
    width: 13.88vw;
    margin-left: -4.166vw;
    margin-right: 3.47vw;
  }
  
  .pillar-middle,
  .pillar-right {
    border-right: 0.609vw solid #968b8e;
  }
  
  .pillar-middle {
    width: 13.88vw;
    margin-right: 5.55vw;
  }
  
  .pillar-right {
    width: 15.277vw;
    border-right-width: 8px;
  }
  
  .ground{
    height:200px;
    width:100%;
    background: rgb(54, 22, 22);
    position: absolute;
    z-index: 1;
  }


  .boilerup{
    width:80%;
  }

  .purdue{
    width: 70%;
    height: 90%;
  }

  .purduep{
    width:50%;
  }